@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';
body{
color: #222;
}
p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size:medium;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto Mono', monospace;
}
.logo{
    width: 180px;
    float:right;
}
.sitetitle{
    float:left;
    left: 25%;
}
#navbar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    margin: -8px;
    margin-top:0px;
  }
  
  /* Navbar links */
  #navbar a {
    font-family: 'Roboto Mono', monospace;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  .fade-in-image {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }




  .modal {
  display: none;
  position: fixed;
  padding-top: 6%; 
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y:scroll;
}
.modal-content {
  position: relative; 
  background-color: white;
  border-radius: 20px;
  padding: 20px; 
  margin: auto; 
  width: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}